
.container{
 
    height: 450px;
    background-color: rgba(2, 48, 43, 0.527);
    padding-left: 1rem;
    border-radius: 8px;
    
    font-family:candara;
    
    
}

body{
    background-color: rgb(2, 49, 44); 
    margin-top: 5rem;
    font-family: candara;
    line-height: 25px;
}
.description{
   
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: larger;
    border: 1px solid white;
    padding: 1rem;
    margin-left: 18rem;
    margin-right: 18rem;
    font-family: candara;
}
h1{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 3rem;
    
}

#check-button{
    height: 30px;
    width: 2rem;
    /* border: 1px solid; */
    
  

}
label{
  padding-left: 12rem;
  font-size:18px;
  color: #7AF3E3;
  margin-left: 30vw;
  
}
input{
    width: 400px;
    height: 32px;
    border: none; 
    
    border-radius: 2px;
     /* margin-left: 33vw; */
     /* background-color: rgb(107, 58, 58); */
     margin-left: 28rem;
    
}  
#check-buttton{
  
    margin-left: 43vw;
    width: 100px;
    height: 32px;
    border-radius: 5px;
    border: 2px solid #7AF3E3;
    /* color: #7AF3E3; */

     
}
#return-change{
    font-weight: bold;
}

.no-of-notes{
    background-color: white;
    
    text-align: center;
    height: 27px;
    width:12%;
    font-size: 20px;
   


}
h2{
    text-align: center;
    color:white;
}

caption{
    color: white;
}
table{
    margin-left: 23.8rem;
}
#notes-bottom-row{
    background-color: #7AF3E3;
    text-align: center;
    height:2rem ;
    font-size: 20px;
    
}
#no-of-notes{
    background-color: #7AF3E3;
    height:2rem ;
}
.showMessage{
    margin-left: 40vw;
}



.link{
    text-decoration: none;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
} 
  
.link-secondary{
    
    
  
    background-color:var(--primary-color);
    border-radius: 0.5rem;
    color: #7AF3E3;
    margin-left: 38rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    border: 1px solid #7AF3E3;
}


